---
page_title: "Provider: Git"
subcategory: ""
description: |-
  Terraform provider for Git.
---

# Git Provider

Terraform provider for Git.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
